{% extends "pages/abstract/mainsite.html.twig" %}

{% set page_active = "home" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{translate("HOME")}}{% endblock %}

{% block page_description %}{{translate("WELCOME_TO", {'title': site.title})}}{% endblock %}

{% block content %}
    <div class="main">
        <div class="MainTabWindows">
            <div class="carousel-cell FeedTab">
                <div class="headerWrap">
                    <div class="header">
                    <span class="LeftButtonHeader"><img draggable="false" ondragstart="return false;"
                                                        src="{{ assets.url('assets://SiteAssets/icons/BurgerMenuShort.svg') }}"></span>
                        <span class="HeaderCaption">{{ translate("TAB_CAPTIONS.FEED") }}</span>
                        <span class="RightButtonHeader"><i class="fas fa-bell"></i></span>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="carousel-cell ExploreTab">
                <div class="headerWrap">
                    <div class="header">
                    <span class="LeftButtonHeader"><img draggable="false" ondragstart="return false;"
                                                        src="{{ assets.url('assets://SiteAssets/icons/BurgerMenuShort.svg') }}"></span>
                        <span class="HeaderCaption">{{ translate("TAB_CAPTIONS.EXPLORE") }}</span>
                        <span class="RightButtonHeader"><i class="fas fa-bell"></i></span>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="carousel-cell ChatTab">
                <div class="headerWrap">
                    <div class="header">
                    <span class="LeftButtonHeader"><img class="svg" draggable="false" ondragstart="return false;"
                                                        src="{{ assets.url('assets://SiteAssets/icons/BurgerMenuShort.svg') }}"></span>
                        <span class="HeaderCaption">{{ translate("TAB_CAPTIONS.CHAT") }}</span>
                        <span class="RightButtonHeader"><i class="fas fa-bell"></i></span>
                    </div>
                    <hr>
                </div>
                <div class="MainInTab">
                    <div class="ChatWindow">
                        <div id="ChatMessages" class="ChatMessages">
                            <!-- Messages -->
                        </div>
                        <input title="Type your message..." id="ChatTextInput" class="ChatInput" type="text"/>
                        <input title="Join a group..." id="SubscribeTextInput" class="ChatInput" type="text"/>
                    </div>
                </div>
            </div>

            <div class="carousel-cell">
                <div class="headerWrap">
                    <div class="header">
                    <span class="LeftButtonHeader"><img draggable="false" ondragstart="return false;"
                                                        src="{{ assets.url('assets://SiteAssets/icons/BurgerMenuShort.svg') }}"></span>
                        <span class="HeaderCaption">{{ translate("TAB_CAPTIONS.FRIENDS") }}</span>
                        <span class="RightButtonHeader"><i class="fas fa-bell"></i></span>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="headerWrap">
                    <div class="header">
                    <span class="LeftButtonHeader"><img draggable="false" ondragstart="return false;"
                                                        src="{{ assets.url('assets://SiteAssets/icons/BurgerMenuShort.svg') }}"></span>
                        <span class="HeaderCaption">{{ translate("TAB_CAPTIONS.PERSONAL") }}</span>
                        <span class="RightButtonHeader"><i class="fas fa-bell"></i></span>
                    </div>
                    <hr>
                </div>
                <div class="MainInTab">
                    {{current_user.first_name}} {{current_user.last_name}}
                    <small>({{current_user.user_name}})</small>
                </div>
            </div>
        </div>

        <div class="Navbar">
         <span id="0" class="NavbarIconWrap">
             <img draggable="false" ondragstart="return false;" src="{{ assets.url('assets://SiteAssets/icons/FriendFeedOutline.svg') }}">
        </span>
            <span id="1" class="NavbarIconWrap">
            <img draggable="false" ondragstart="return false;" src="{{ assets.url('assets://SiteAssets/icons/ExploreGlobeOutline.svg') }}">
        </span>
            <span id="2" class="NavbarIconWrap ActiveTab">
            <img draggable="false" ondragstart="return false;" src="{{ assets.url('assets://SiteAssets/icons/MessageBubbleOutlineActivated.svg') }}">
        </span>
            <span id="3" class="NavbarIconWrap">
            <img draggable="false" ondragstart="return false;" src="{{ assets.url('assets://SiteAssets/icons/UserGroupOutline.svg') }}">
         </span>
            <span id="4" class="NavbarIconWrap">
            <img draggable="false" ondragstart="return false;" src="{{ assets.url('assets://SiteAssets/icons/UserOutline.svg') }}">
        </span>
        </div>
        <span class='NavbarLine'></span>
    </div>
{% endblock %}

{% block scripts_page %}
    <script>
        {% include "pages/partials/chat.js.twig" %}
    </script>
{% endblock %}
