{% extends "pages/abstract/mainsite.html.twig" %}

{% set page_active = "home" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("HOME") }}{% endblock %}

{% block page_description %}{{ translate("WELCOME_TO", {'title': site.title}) }}{% endblock %}

{% block content %}
    <div class="main">
        <div class="MainTabWindows">

            <div class="carousel-cell FeedTab">
                <div class="headerWrap">
                    <div class="header">
                    <span class="LeftButtonHeader"><img src="{{ assets.url('assets://SiteAssets/icons/BurgerMenuShort.svg') }}"></span>
                        <span class="HeaderCaption">{{ translate("TAB_CAPTIONS.FEED") }}</span>
                        <span class="RightButtonHeader"><i class="fas fa-bell"></i></span>
                    </div>
                    <hr>
                </div>
                <div class="MainInTab FeedTabWindow">
                    {% for FeedImage in FeedImages %}
                        <img class="FeedImage" src="{{ site.uri.public }}/image/{{ FeedImage.PostID }}" alt="An image">
                        <br>
                    {% endfor %}
                </div>
            </div>

            <div class="carousel-cell ExploreTab">
                <div class="headerWrap">
                    <div class="header">
                    <span class="LeftButtonHeader"><img src="{{ assets.url('assets://SiteAssets/icons/BurgerMenuShort.svg') }}"></span>
                        <span class="HeaderCaption">{{ translate("TAB_CAPTIONS.EXPLORE") }}</span>
                        <span class="RightButtonHeader"><i class="fas fa-bell"></i></span>
                    </div>
                    <hr>
                </div>
                <div class="MainInTab ExploreTabWindow">
                    <input id="UserSearchBar" class="UserSearchBar" type="text"
                           title="{{ translate("EXPLORE_TAB.USER_SEARCH_PH") }}"
                           placeholder="{{ translate("EXPLORE_TAB.USER_SEARCH_PH") }}">
                    <br>
                    <div id="alerts-page"></div>
                    <div class="SearchResults">
                    </div>
                    <div id="ExploreData">

                    </div>
                </div>
            </div>

            <div class="carousel-cell ChatTab">
                <div class="headerWrap">
                    <div class="header">
                    <span class="LeftButtonHeader"><img src="{{ assets.url('assets://SiteAssets/icons/BurgerMenuShort.svg') }}"></span>
                        <span class="HeaderCaption">{{ translate("TAB_CAPTIONS.CHAT") }}</span>
                        <span class="RightButtonHeader"><i class="fas fa-bell"></i></span>
                    </div>
                    <hr class="ChatHeaderDivider">
                </div>
                <div class="MainInTab ChatWindow">
                    <div id="ChatMessages" class="ChatMessages">
                        <!-- Messages -->
                    </div>
                    <input title="{{ translate("CHAT_MESSAGES.JOIN_GROUP_PH") }}"
                           placeholder="{{ translate("CHAT_MESSAGES.JOIN_GROUP_PH") }}"
                           id="SubscribeTextInput" class="ChatInput" type="text" />
                    <input title="{{ translate("CHAT_MESSAGES.WRITE_MESSAGE_PH") }}"
                           placeholder="{{ translate("CHAT_MESSAGES.WRITE_MESSAGE_PH") }}"
                           id="ChatTextInput" class="ChatInput" type="text" />
                </div>
            </div>

            <div class="carousel-cell FriendsTab">
                <div class="headerWrap">
                    <div class="header">
                    <span class="LeftButtonHeader"><img src="{{ assets.url('assets://SiteAssets/icons/BurgerMenuShort.svg') }}"></span>
                        <span class="HeaderCaption">{{ translate("TAB_CAPTIONS.FRIENDS") }}</span>
                        <span class="RightButtonHeader"><i class="fas fa-bell"></i></span>
                    </div>
                    <hr>
                </div>
                <div class="MainInTab">
                    {% for friend in friends %}
                        <li>
                            <img src="{{ friend.avatar }}" alt="User Image">
                            <a class="users-list-name"
                               href="{{ site.uri.public }}/users/u/{{ friend.user_name }}">{{ friend.first_name }} {{ friend.last_name }}</a>
                            <span class="users-list-date">{{ friend.registered }}</span>
                        </li>
                    {% endfor %}
                </div>
            </div>

            <div class="carousel-cell PersonalTab">
                <div class="headerWrap">
                    <div class="header">
                    <span class="LeftButtonHeader"><img src="{{ assets.url('assets://SiteAssets/icons/BurgerMenuShort.svg') }}"></span>
                        <span class="HeaderCaption">{{ translate("TAB_CAPTIONS.PERSONAL") }}</span>
                        <span class="RightButtonHeader"><i class="fas fa-bell"></i></span>
                    </div>
                    <hr>
                </div>
                <div class="MainInTab PersonalTabWindow">
                    <div class="PersonalOverviewHeader">
                        <div class="GenderFab Female">&#9792;</div>
                        <img class="AvatarImage" src="{{ current_user.avatar }}" />
                        <div class="GenderFab Male">&#9794;</div>
                    </div>
                    <br>
                    <div class="DisplayNames">
                        <span class="FullName">{{ current_user.first_name }} {{ current_user.last_name }}</span>
                        <br>
                        <small class="Username">{{ current_user.user_name }}</small>
                    </div>
                    <br>
                    <hr class="ShorterLine" align="center">
                </div>
            </div>
        </div>

        <div class="Navbar">
            <span id="0" class="NavbarIconWrap">
                <img src="{{ assets.url('assets://SiteAssets/icons/FriendFeedOutline.svg') }}">
            </span>
            <span id="1" class="NavbarIconWrap">
                <img src="{{ assets.url('assets://SiteAssets/icons/ExploreGlobeOutline.svg') }}">
            </span>
            <span id="2" class="NavbarIconWrap ActiveTab">
                <img src="{{ assets.url('assets://SiteAssets/icons/MessageBubbleOutlineActivated.svg') }}">
            </span>
            <span id="3" class="NavbarIconWrap">
                <img src="{{ assets.url('assets://SiteAssets/icons/UserGroupOutline.svg') }}">
            </span>
            <span id="4" class="NavbarIconWrap">
                <img src="{{ assets.url('assets://SiteAssets/icons/UserOutline.svg') }}">
            </span>
        </div>
        <span class='NavbarLine'></span>
    </div>
{% endblock %}

{% block scripts_page %}
    <script id="uf-alert-template" type="text/x-handlebars-template">
        <div class="alert alert-{{type}} alert-dismissible uf-alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <i class="icon fa fa-fw {{icon}} pull-left"></i> <div class="uf-alert-message-container">{{message}}</div>
        </div>
    </script>
    <script>
        {% include "pages/partials/chat.js.twig" %}
    </script>
{% endblock %}
