
<script src="{{ assets.url('assets://SiteAssets/js/asemica.js') }}"></script>
{#
<form method="post" action="{{ site.uri.public }}/api/posts/image">
    {% include "forms/csrf.html.twig" %}
    <p>
        <label>Upload file:</label><br />
        <input formenctype="multipart/form-data" type="file" name="image" />
    </p>
    <input formenctype="multipart/form-data" type="submit" />
</form>

<form method="post" action="{{ site.uri.public }}/api/users/u/marvinborner/publickey">
    {% include "forms/csrf.html.twig" %}
    <p>
        <input type="text" name="PublicKey" />
    </p>
    <input type="submit" />
</form>

<script>
    var current_user_id = {{ current_user.id }};
    {% include "pages/partials/config.js.twig" %}
</script>

{{ assets.js('js/main') | raw }}
<script src="{{ assets.url('assets://SiteAssets/js/encryption.js') }}"></script>


<script>
    $.ajax({
        type: 'GET',
        url: site.uri.public + '/api/users/u/' + 'marvinborner' + '/publickey',
        dataType: "json",
        success: function (response) {
            console.log(response);
            //window.location.reload();
        }
    });
</script>
#}